.current_room{
  float:left;
  width: 250px;
  background-color:#9dc3e6;
  border: 2px solid #2e75b6;
  color:#1f4e79;
  font-size:28px;
  text-align: center;
  line-height: 64px;
  margin-top: 47px;
}

.another_rooms{
  float:left;
  width: 250px;
  background-color:#fff;
  border: 2px solid #2e75b6;
  text-align: center;
  line-height: 60px;
  margin-top: 47px;
}

.first_room{
  margin-left:50px;
}

.another_rooms:hover{
    background-color:#9dc3e6;
}

.link{
    text-decoration: none;
    font-size:28px;
    color:#1f4e79;
}

.input_place_lamp_and_jalousie{
  margin-left:350px;
  margin-top:-30px;
  width:100px;
}

.input_place_battery_and_humidifier{
  margin-left:380px;
  margin-top:-30px;
  width:100px;
}

.auto_light{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-weight:bold;
    font-size:24px;
    color:#1f4e79;
    margin-left:50px;
    margin-top:-25px;
}
  
.pic{
  float:left;
  margin-left: 10px;
  width: 8%;
  height: 8%;
}

.lamp_number{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-weight:bold;
  font-size:24px;
  color:#1f4e79;
  margin-top:-5px;
}

.state{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size:24px;
  color:#706e6e;
  margin-left:160px;
}

.change_state{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size:24px;
  color:black;
  margin-top:7px;
}

.pic_b{
  float:left;
  margin-left: 35px;
  width: 5%;
  height: 5%;
  padding-right: 30px;
}

.pic_h{
  float:left;
  margin-left: 35px;
  width: 6%;
  height: 7%;
  padding-right: 13px;
}

.end{
  margin-top:150px;
}


 